<div class="container">
    <div class="left-content content">
        <div class="left-white">
            <div class="extra" *ngIf="extra"></div>
        </div>
        <div class="left-blue"></div>
        <div class="left-grey"></div>
    </div>
    <div class="right-content content">
        <div class="right-inner-content">
            <div class="little-square-container">
                <div class="little-square"></div>
            </div>
            <div class="shapes-container">
                <div class="short-shape"></div>
                <div class="long-shape">
                    <div class="long-shape-top"></div>
                    <div class="long-shape-bottom"></div>
                </div>
            </div>
        </div>
    </div>
</div>
