<div class="container">
    <div class="spacer"></div>
    <div class="center-container-border">
        <div class="center-container">
            <div class="deco-container">
                <app-back-border></app-back-border>
                <div class="border-bar"></div>
            </div>
            <div class="deco-container flipped">
                <app-back-border></app-back-border>
                <div class="border-bar"></div>
            </div>
        </div>
    </div>
    <div class="spacer footer"></div>
</div>
