<div class="container">
    <div class="bar">
        <div class="bar-edge bordered">
            <div class="bar-circle bordered"></div>
        </div>
        <div class="bar-span bordered"></div>
    </div>
    <div class="main-content">
        <div class="main-content-bar bordered"></div>
        <div class="main-content-content">
            <div class="top-circle-container">
                <div class="top-circle-content">
                    <div class="circle-square">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-border bordered"></div>
                </div>
                <div class="top-circle-border bordered"></div>
            </div>
            <div class="bottom-circle-container">
                <div class="green-circle centered-circle">
                    <div class="white-circle centered-circle">
                        <div class="inner-white-circle centered-circle">
                            <div class="inner-green-circle centered-circle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bar-border">
        <div class="bar-border-edge bordered"></div>
        <div class="bar-border-span bordered"></div>
    </div>
    <div class="bar">
        <div class="bar-edge bordered">
            <div class="bar-circle bordered"></div>
        </div>
        <div class="bar-span bordered"></div>
    </div>
</div>
