<div class="layer">
    <div class="layer-content">
        <app-backdrop class="layer-component"></app-backdrop>
    </div>
</div>
<div class="layer">
    <div class="layer-content">
        <app-shadow-screen class="layer-component"></app-shadow-screen>
    </div>
</div>
<div class="layer">
    <div class="layer-content">
        <app-screen class="layer-component"></app-screen>
    </div>
</div>
<div class="layer">
    <div class="layer-content">
        <app-content class="layer-component"></app-content>
    </div>
</div>